@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
.specificMessage {
  font-family: sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.specificMessage {
  background-color: #da1989;
}

#lista {
  font-size: 14px;
  color: rgba(138, 218, 101, 0.65);
}

:root {
  --verde:#0c443a;
  --limon: #25d1b2;
  --degradable: linear-gradient(90deg,var(--limon), var(--verde));
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
}

*::-moz-selection {
  background: var(--limon);
  color: white;
}

*::selection {
  background: var(--limon);
  color: white;
}

html {
  font-size: 62.4%;
  overflow: hidden;
}

body {
  background: #f9f9f9;
}

section {
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 7.5 rem;
  padding-bottom: 2rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: 5rem;
  background: var(--degradable);
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
}

header .logo {
  font-size: 2rem;
  color: var(--verde);
}

header .logo span {
  color: var(--limon);
}

header .navbar a {
  font-size: 1.8rem;
  margin-left: 2rem;
  color: var(--verde);
}

header .navbar a:hover {
  color: var(--limon);
}

header input {
  display: none;
}

header label {
  font-size: 3rem;
  color: var(--verde);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/5.jpeg);
  background-size: cover;
  background-position: center;
}

.inicio .image img {
  width: 40vp;
  -webkit-animation: float 3s linear infinite;
          animation: float 3s linear infinite;
}

@-webkit-keyframes float {
  0%, 100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-3.5rem);
            transform: translateY(-3.5rem);
  }
}

@keyframes float {
  0%, 100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-3.5rem);
            transform: translateY(-3.5rem);
  }
}

.inicio .content h3 {
  font-size: 5.5rem;
  color: #333;
  text-transform: uppercase;
}

.inicio .content h3 span {
  color: var(--limon);
  text-transform: uppercase;
}

.inicio .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  header label {
    visibility: visible;
    opacity: 1;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
  }
  header .navbar a {
    display: block;
    margin: 2rem 0;
    font-size: 2rem;
  }
  header input:checked ~ .navbar {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  header input:checked ~ label::before {
    content: '\f00d';
  }
  .inicio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .inicio .image img {
    width: 100%;
  }
  .inicio .content h3 {
    font-size: 3.6rem;
  }
  .inicio .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 49%;
  }
}
/*# sourceMappingURL=estilo.css.map */